<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> </h2>

      <p>
      <% @user.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
      </p>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "What's your ZIP code homie?" %><br>
    <%= f.text_field :postal_code %>
  </div>
  <div class="actions">
    <input type="submit" value="Find me some ticketssss">
  </div>
<% end %>
