<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> </h2>

      <p>
      <% @user.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
      </p>
    </div>
  <% end %>

  <div class="field form-group" id="slate">
    <%= f.label "Enter your ZIP code", class: "control-label"%><br>
    <%= f.text_field :postal_code, class: "form-control"%>
  </div>

<!--   <div class="form-group">
    <label class="control-label" for="inputDefault">Default input</label>
    <input type="text" class="form-control" id="inputDefault">
  </div> -->

  <div class="actions">
    <input type="submit" class="btn btn-default" value="Find me some tickets">
</div>
<% end %>
