<center><p id="notice"><%= notice %></p>

<p>
  <h3>So you live in <%= @user.postal_code %> ? </br></h3>
    <h4>THESE EVENTS ARE IN YOUR AREA:</h4>  
  </br>
  

</p>

<p> <% @events.each do |event| %>
  <%= link_to event[:title], event[:url] %> - <text style="font-size:8pt;"><%=event[:time] %></text> </br>
</br>

  <% end %>

</br>


<text style="font-size:12pt;">Interested in any of these events?</text>
</br>
</br>
<h4>CLICK THE LINK AND BUY THE TICKETS</h4>
</p>

<FORM>
	<INPUT TYPE="button" class="btn btn-default" onClick="history.go(0)" VALUE="No thanks. Got anything else?">
</FORM>


<%= link_to 'Hold on...this isn\'t my area', new_user_path(@user), class: "btn btn-default btn-sm" %> |
<%= link_to 'Where did I look for tickets again?', users_path, class: "btn btn-default btn-sm" %></center>
