<center><p id="notice"><%= notice %></p>

<p>
  <h3>So you live in <%= @user.postal_code %> ? </br></h3>
    <h4>THESE EVENTS ARE IN YOUR AREA:</h4>  
  </br>
  

</p>

<table>
  <thead>
    <tr>
      <th class="zip-header"></th>
    </tr>
  </thead>
  <tbody>
  	<% @events.each do |event| %>
  	<tr class="spaceUnder">
  		<td><%= link_to event[:title], event[:url]%></br></td>
  		<td><%=event[:time] %> <% end %></td>
  	</tr>
  </tbody>
</table>

<p> 

</br>

 

</br>


<text style="font-size:12pt;">Interested in any of these events?</text>
</br>
</br>
<h4>CLICK THE LINK AND BUY THE TICKETS</h4>
</p>

<FORM>
	<INPUT TYPE="button" class="btn btn-default" onClick="history.go(0)" VALUE="No thanks. Got anything else?">
</FORM>


<%= link_to 'Hold on...this isn\'t my area', new_user_path(@user), class: "btn btn-default btn-sm" %> |
<%= link_to 'Where did I look for tickets again?', users_path, class: "btn btn-default btn-sm" %></center>
