<center><p id="notice"><%= notice %></p>

<p>
  <h3> <strong> Ohhh snap you live in the <%= @user.postal_code %> ??? </br></strong></h3>
    <h4>THESE EVENTS ARE IN YOUR AREA:</h4>  
  </br>
  

</p>

<p> <% @events.each do |event| %>
  <%= link_to event[:title], event[:url] %> - <text style="font-size:8pt;"><%=event[:time] %></text> </br>
</br>

  <% end %>

<strong>CLICK THE LINK AND BUY THE TIX</strong></br>
</br>
</br>
<text style="font-size:12pt;">You into any of this?</text>
</p>

<FORM>
	<INPUT TYPE="button" onClick="history.go(0)" VALUE="This stuff sucks">
</FORM>

<%= link_to 'Hold up...this ain\'t my area', new_user_path(@user) %> |
<%= link_to 'Where did I look for tickets again?', users_path %></center>
