<p id="notice"><%= notice %></p>

<p>
		<strong>STUFF FOR</strong>
    <strong>Zip Code:</strong>
  <%= @user.postal_code %>

</p>

<p> <% @events.each do |event| %>
  <%= link_to event[:title], event[:url] %> <%=event[:time] %> </br>
</br>

  <% end %>


</p>

<FORM>
	<INPUT TYPE="button" onClick="history.go(0)" VALUE="This stuff sucks">
</FORM>

<%= link_to 'Somewhere else', new_user_path(@user) %> |
<%= link_to 'Past searches', users_path %>
